page-home {

    .bg-image {

        background-image: url('src\assets\imgs\TheMovies.png');//trying to set this image as a background
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
    }
}
